{% extends 'base.html.twig' %}

{% block title %}success{% endblock %}

{% block body %}

<div class="container">
    <section>
        <h1>Erreur de Payement</h1>

        <p class="cancel_payment">Votre payement a échoué</p>
    </section>
</div>
{% endblock %}

