/***********css par défaut mobile ********************/

/* GLOBAL */

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background-color: #333; /* a la fin on mettra #fff */
    font-size: 1.6rem; 
    width: 100%;
    color: #aaa;
}

img, video, table{
    width: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
    margin: 0.2rem;
    color: #aaa;
}

table{
    width: 100%;
}


/* /////////// H E A D E R ////////////// */

nav{
    font-size: 5rem;
    margin: 4rem 2rem;
    text-align: center;
    /* background-color: darkgoldenrod; */
}

nav li, li {
    list-style-type: none;
}

nav form button {
    font-size: 4.5rem;
    width: 75%;
    height: 5rem;
}

#menuToggle {
    display: block;
    position: relative;
    top: .5rem;
    left: .5rem;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 9.5rem;
  height: 6rem;
  position: absolute;
  top: -.7rem;
  left: -.5rem;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 9rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  
  background: #cdcdcd;
  border-radius: .3rem;
  
  z-index: 1;
  
  transform-origin: 4rem 2.2rem;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 1rem -1.5rem;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
 
/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

 
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 105rem;
  margin: -10rem 0 0 -5rem;
  padding: 5.5rem 0;
  /* padding-top: 12.5rem; */
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 1rem 0;
  /* font-size: 2.2rem; */
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}


/* /////////// M A I N ////////////// */

.container{
   /* padding: 4rem; */
   text-align: center;
}

h1, h2, h3, 
.link_for_add,
.storage_title,
.storage_description,
.storage_position,
.storage_category,
.storage_space,
.storage_price_days,
.storage_price_month,
.storage_date_create 
{
    margin: 2rem;
}

h1 {
  font-size: 10rem;
}

.link_for_add {
  font-size: 4rem;
}

/* ***** page_get_all ***** */

.storage {
    margin: 7rem 0;
    /* padding: 2rem; */
}

.storage_title {
    font-size: 4rem;
}

.storage_position {
   display: flex;
   flex-direction: column;
}

.storage_position span {
   font-size: 5rem;
}

.img_storage_page_get_all {
   height: 90rem;
}


/* ***** page with form ***** */

.container_form {
   margin: 5rem auto;
   width: 90%;
}

.div_form {
  margin: 5rem 0;
}

.form_label {
   display: block;
   text-align: left;
   font-size: 6rem;
   margin: 2rem 0;
}

.form_input {
   display: block;
   width: 100%;
   height: 8rem;
   font-size: 4rem;
}

.btn_submit {
   width: 30rem;
   height: 6rem;
   font-size: 4rem;
   margin: 0 0 2rem 0;
}

.form_action{
  font-size: 4rem;
  margin: 4rem 0;
}

/* ***** page_get_one_user ***** */

.profile_one_user {
  margin: 5rem auto;
  width: 90%;
}

.profile_one_user li, .profile_one_user button {
  font-size: 5.5rem;
  margin: 2rem;
}

/* .profile_one_user span form {
  display: inline;
} */

.profile_one_user .modif_or_supp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}