{% extends 'base.html.twig' %}

{% block body %}
<div 
    class="container error_page" 
    style="
        background: url('{{ asset('uploads/default/error/error404_2.jpeg') }}')  center center fixed;
        background-size: cover;
    "
>
    <div class="">
        <h1>Page non trouvé</h1>
    </div>
</div>
{% endblock %}