{% extends 'base.html.twig' %}

{% block title %}success{% endblock %}

{% block body %}
<h1>Payement réussie</h1>

<p>Votre payement a bien été réaliser</p>

<div>
    <pre></pre>

    {# <pre>
        {{ dump(app.request.get('stripeSessionId')) }}
    </pre> #}

    <form id="manage-billing-form-ok" method='POST'>
        <input type='hidden' id='session_id' value={{ app.request.get('stripeSessionId') }}>
        <button type='submit'>Gérer la facturation</button>
    </form>
</div>

{% endblock %}

{% block stripe_success %}

<script type="text/javascript">

    //Transmettez l'ID de session de vérification à un point de terminaison 
    //de backend qui récupère la session de vérification et obtient l'ID client à partir de la réponse:

    //let sessionId = document.getElementById('session_id').value;
    {# const urlParams = new URLSearchParams(window.location.search); #}
    {# const sessionId = urlParams.has('stripeSessionId'); #}
    
    let customerId;

    {# if (sessionId) {
        fetch("/checkout-session?sessionId=" + sessionId)
            .then(function(result){
            return result.json()
            })
            .then(function(session){
            // We store the customer ID here so that we can pass to the
            // server and redirect to customer portal. Note that, in practice
            // this ID should be stored in your database when you receive
            // the checkout.session.completed event. This demo does not have
            // a database, so this is the workaround. This is *not* secure.
            // You should use the Stripe Customer ID from the authenticated
            // user on the server.
            customerId = session.customer;

            var sessionJSON = JSON.stringify(session, null, 2);
            document.querySelector("pre").textContent = sessionJSON;
            })
            .catch(function(err){
                console.log('Error when fetching Checkout session', err);
            })
        ;
        
    }  #}

    let sessionIdOk = document.getElementById('session_id').value;

    const manageBillingFormOk = document.querySelector('#manage-billing-form-ok');
    manageBillingFormOk.addEventListener('submit', function(e) {
    e.preventDefault();
    fetch('/customer/portal', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            sessionId: sessionIdOk
        }),
    })
        .then((response) => {
            
            return response.json()
        })
        .then((data) => {
            console.log(data)
            window.location.href = data.url;
        })
        .catch((error) => {
        console.error('Error:', error);
        });
    });

</script>

{% endblock %}