{% extends 'base.html.twig' %}

{% block title %}Annulation{% endblock %}

{% block body %}

<div class="container">
    <section>
        <h1>Abonnement annulé</h1>

        <p class="return_payment">Votre abonnement a bien été annulé</p>
    </section>
</div>
{% endblock %}