/***********css par défaut mobile ********************/

/* GLOBAL */

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html{
  font-size: 62.5%;
  height: 100%;
  /* font-family: serif; */
}

body{
  background-color: #333;
  font-size: 1.6rem; 
  width: 100%;
  color: #aaa;
}

img, video, table{
  width: 100%;
  max-width: 100%;
}

a{
  text-decoration: none;
  color: #aaa;
}

table{
  width: 100%;
}


/* /////////// H E A D E R ////////////// */

nav{
  font-size: 5rem;
  margin: 4rem 2rem;
  text-align: center;
  /* background-color: darkgoldenrod; */
}

nav li, li {
  list-style-type: none;
}

nav form button {
  font-size: 2.2rem;
  width: 75%;
  height: 5rem;
  border: none;
}

#menuToggle {
  display: block;
  position: relative;
  top: .5rem;
  left: .5rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  font-size: 4rem;
  transition: color 0.3s ease;
}

#menuToggle li:hover, #menuToggle a:hover
{
  color: #FFE4B5;
}

#menuToggle input
{
  display: block;
  width: 9.5rem;
  height: 6rem;
  position: absolute;
  top: -.7rem;
  left: -.5rem;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 5rem;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  position: relative;
  
  background: #4c44bb;
  border-radius: .3rem;
  
  z-index: 1;
  
  transform-origin: 2rem 1.2rem;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0.5rem -1.3rem;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #4c44bb;
}
 
/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

 
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 119%;
  margin: -10rem 0 0 -5rem;
  padding: 5.5rem .5rem 5.5rem 2rem;
  /* padding-top: 12.5rem; */
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  margin: 1rem 0;
  font-size: 4.2rem;
}

#menu li a {
  font-size: 2.5rem;
}

/* #menu li button {
  font-size: 2rem;
} */

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}


/* /////////// M A I N ////////////// */

.container{
   /* padding: 4rem; */
   text-align: center;
}

h1, h2, h3, 
.link_for_add,
.storage_title,
.storage_description,
.storage_position,
.storage_category,
.storage_space,
.storage_price_days,
.storage_price_month,
.storage_date_create,
.storage_owner
{
  /* margin: 2rem; */
  word-wrap: break-word;
  font-size: x-large;
  color: #444;
}

h1 {
  font-size: 5.5rem;
  color: #fff;
  margin: 0 0 8rem;
}

h2 {
  font-size: 4rem;
}

h3, h4, h5 {
  font-size: 3rem;
}

.link_for_add {
  font-size: 4rem;
  margin: 5rem 0 1rem;
}

/* ***** message add flash ***** */
.bm-messages-success {
  background-color: #0A8E30;
  color: #fff;
}

.bm-messages-wraning {
  background-color: #a26d0b;
  color: #fff;
}

.bm-messages-error {
  background-color: #A2250B;
  color: #fff;
}

.bm-messages-message, .bm-messages-notice {
  background-color: #534E4D;
  color: #fff;
}

/* ***** page_get_all ***** */

.get_all_storage_space .storage {
  background-color: #fff; 
  border-radius: 2rem;
}

.storage {
    margin: 7rem 0;
    padding: 0 0 2rem 0;
}

.storage_title {
    font-size: 4rem;
}


.storage_position span {
   font-size: 3rem;
}

.img_storage_page_get_all {
  height: 29rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.storage_price_month {
  color: #4c44bb;
}

/* ***** page_get_one_storage ***** */

.comment {
  margin: 4rem 0;
  padding: 2rem 0 0;
}

.comment p, .comment p span {
  font-size: 2.5rem;
}

.comment .get_comment {
  margin: 2rem;
}

#add-comment {
  padding: 0 0 2rem;
}

#add-comment textarea {
  height: 20rem;
}

.get_comment_response {
  margin: 2rem;
}

.comment_delete a {
  color: rgb(88, 27, 27);
}



.one_storage_space {
  background-color: #fff;
  border-radius: 2rem;
}

/* ***** page with form ***** */

.container_form {
  margin: 5rem auto;
  width: 100%;
  padding: 1rem;
  background-color: rgba(76, 68, 187, 0.3); 
  border-radius: 3rem;
}

.div_form {
  margin: 5rem 0;
}

.form_label {
   display: block;
   text-align: left;
   font-size: 3rem;
   margin: 2rem 0;
}

.form_input {
   display: block;
   width: 100%;
   height: 5rem;
   font-size: 2.5rem;
   border-radius: 2rem;
   padding: 10px 10px 10px 15px;
}

textarea.form_input {
  height: 8em;
}

.form_input select {
  height: 100%;
  font-size: 2.5rem;
  width: 30%;
  margin: 0.5rem;
}

.btn_submit {
   width: 30rem;
   height: 6rem;
   font-size: 3rem;
   margin: 0 0 2rem 0;
}

.form_action{
  font-size: 3rem;
  margin: 4rem 0;
}

.btn_pay_or_cancel_booking, 
.success_payment_facturation, 
.btn
{
  width: 100%;
  height: 100%;
  font-size: 3rem;
  /* margin: 0 4rem 2rem 0; */
  margin: 2rem 0;
  background-color: #4c44bb;
  color: #aaa;
  border-radius: 2rem;
  padding: 1rem;
}

.one_storage_btn {
  margin: 4rem 0;
}

a.btn {
  padding: 2rem;
  margin: 0 4rem;
}

.span_modif_get_one_user {
  display: block;
  background-color: #4c44bb;
  margin: 0 0 0 2rem;
}

.btn_modif_get_one_user {
  vertical-align: middle;
  
}

.error_form_login {
  font-size: 3rem;
  background-color: rgb(88, 27, 27);
  padding: 2rem;
}

.error_input_small {
  font-size: 2.5rem;
  color: red;
  padding: 1rem;
}

/* ***** page_get_one_user ***** */

.profile_one_user {
  margin: 5rem auto;
  width: 100%;
  background-color: rgba(76, 68, 187, 0.3); 
  padding: 1rem 0;
  border-radius: 2rem;
}

.profile_one_user li, .profile_one_user button {
  font-size: 3.5rem;
  margin: 2rem 0;
  padding: 0 0.5rem;
}


/* ***** table responsive ***** */

.table-responsive thead {
  display: none;
}

.table-responsive table,
/* .table-responsive thead, */
.table-responsive tbody,
.table-responsive th,
.table-responsive td,
.table-responsive tr {
  display: block;
}


/* on active l'attribut data-title */
.table-responsive td:before { 
  content: attr(data-title); 
}

.table-responsive tr {
  width: 100%;
}

.table-responsive td {
  position: relative;
  border: 0px solid transparent;
  padding-left: 50% !important;
  white-space: normal;
  text-align: center; 
  font-size: 2rem;
  padding: 1.5rem 0;
  
}

.table-responsive td:before { 
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  padding-right: 1.5rem; 
  height:100%;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow:hidden !important;
  /* text-align:left; */
  background-color:#f8f8f8;
  padding:1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.responsive_td_name_produit, 
.table-responsive td.responsive_td_name_produit:before
{
  background-color: #4c44bb;
}

/** page strip  **/
.cancel_payment, .return_payment, .success_payment {
  font-size: 8rem;
}


/* **************** css pour TABLETTE *********************** */
@media only screen and (min-width: 600px) 
{
  /* /////////// H E A D E R ////////////// */

  #menu {
    padding: 2.5rem .5rem;
    width: 108%;
  }


  #menuToggle span {
    width: 9rem;
    height: 1.5rem;
    transform-origin: 3rem 1.3rem;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 1.2rem -1rem;
  }

  #menu li a {
    font-size: 4.5rem;
  }

  #menu li {
    margin: 2rem 0;
  }

  nav form button {
    font-size: 4rem;
  }

  /* /////////// M A I N ////////////// */


  .container{
    padding: 4rem;
  }


  /* ***** page_get_all_storage_space ***** */

  .img_storage_page_get_all {
    height: 47rem;
  }

  .storage_title {
    font-size: 5rem;
  }

  .storage_description,
  .storage_position, 
  .storage_position span, 
  .storage_category, 
  .storage_space, 
  .storage_price_days, 
  .storage_price_month, 
  .storage_date_create, 
  .storage_owne {
    font-size: 2.5rem;
    padding: 0.5rem;
  }


  /* ***** table responsive ***** */
  
  .table-responsive td {
    font-size: 3rem;
  }

  .table-responsive td:before {
    font-size: 2.5rem;
  }


  /* ***** page_get_one_user ***** */
  
  .profile_one_user li, .profile_one_user button {
    font-size: 4.5rem;
    margin: 2rem 0;
  }

  /* ***** page with form ***** */

  .container_form {
    padding: 2rem;
  }

  #add-comment {
    padding: 0 2rem 2rem;
  }

  
  .error_input_small {
    font-size: 3.5rem;
  }
}


/* **************** css pour Desktop *********************** */
@media only screen and (min-width: 1025px) 
{

  /* /////////// H E A D E R ////////////// */


  nav {
    margin: 0;
  }

  #menuToggle span {
    display: none;
    position: initial;
  }

  #menuToggle {
    position: initial;
  }

  #menuToggle input {
    display: none;
  }

  #menu {
    transform: none;
    position: initial;
    margin: 0;
    padding: 1rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #4c44bb;
    
  }

  .menu_li_dashboard {
    position: relative;

  }

  #menu li {
    font-size: 3rem;
  }
  
  #menu li a {
    color: #aaa;
    font-size: 3rem;
  }

  nav form button {
    color: #aaa;
    background-color: #4c44bb;
    width: 88%;
    font-size: 2.5rem;
  }

  .sous_menu {
    display: none;
  }

  nav li:hover .sous_menu {
    display: inline-block;
    position: absolute;
    top: 3rem;
    left: -17rem;
    background-color: #4c44bb;
    width: 260%;
  }


  
  /* /////////// M A I N ////////////// */

  /* ***** table responsive ***** */

  /* .table-responsive thead {
    display: table;
  } */

  /* revenir a une structure de tableau de base*/
  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: revert;
  }

  /* on désactive l'attribut data-title */
  .table-responsive td:before { 
    content: ""; 
  }

  .table-responsive td:before { 
    position: none;
    top: 0;
    left: 0;
    width: 0; 
    padding-right: 0; 
    height:0;
    background-color: none;
    padding:0;
    font-size: 0;
    font-weight: bold;
  }

  .table-responsive td {
    position: none;
    /* border: .1rem solid black; */
    padding-left: 0% !important;
    white-space: normal;
    text-align: center; 
    font-size: 2rem;
    padding: 0;
    
  }

  .table, .table-responsive th, .table-responsive td  {
    border: .1rem solid rgb(80, 76, 76);
    border-collapse: collapse;
    padding: 1rem;
  }

  .responsive_td_name_produit, 
  .table-responsive td.responsive_td_name_produit:before
  {
    background-color: transparent;
  }

  .table-responsive th {
    background-color: #4c44bb;
  }

  .table-responsive tr:nth-child(even) {
    background-color: #7c7878;
    color: #111;
  }

  .table-responsive tr:hover {
    background-color: rgb(70, 71, 66);
    color: #aaa;
  }

  /************ page_get_all_storage_space ************/

  .get_all_storage_space {
    display: flex;
    flex-wrap: wrap; /* mettre des items à la ligne */
    justify-content: space-between;
  }

  .get_all_storage_space .storage {
    width: 23%;
    /* background-color: #fff;
    border-radius: 2rem; */
  }

  .img_storage_page_get_all {
    height: 35rem;
    /* border-radius: 2rem; */
  }

  .storage_title {
    font-size: 3.5rem;
    color: #444;
  }

  .storage_description,
  .storage_position, 
  .storage_position span, 
  .storage_category, 
  .storage_space, 
  .storage_price_days, 
  .storage_price_month, 
  .storage_date_create, 
  .storage_owne {
    font-size: 2.5rem;
  }

  /* .storage_position {
    display: revert;
  } */

  
  /************ page_get_one_storage_space ************/

  .img_storage_page_get_one {
    height: 70rem;
    /* border-radius: 2rem; */
  }

  .one_storage_space {
    width: calc(100% - 25%) ;
    margin: 7rem auto;
  }

  /* .storage {
    margin:  0;
  } */


  /* ***** page with form ***** */

  .container_form {
    width: 70%;
  }

  /* ***** page_get_one_user ***** */

  .profile_one_user {
    width: 70%;
  }

}


/* **************** css pour Desktop *********************** */
@media only screen and (min-width: 2500px) 
{
  /* /////////// M A I N ////////////// */

  /************ page_get_one_storage_space ************/

  .img_storage_page_get_all_2500 {
    height: 100rem;
    /* border-radius: 2rem; */
  }

  .one_storage_space {
    width: calc(100% - 35%) ;
    margin: 7rem auto;
  }

  /* ***** page with form ***** */

  .container_form {
    width: 50%;
  }

   /* ***** page_get_one_user ***** */

   .profile_one_user {
    width: calc(100% - 35%) ;
  }
}